    header{
        display: flex;
        background-color: black; 
        border: 10px solid;
        border-width: 10px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        align-items: center;
    }
    nav{
        background-color: black;
        text-align: right;
    }

        a{
            display: inline-flex;
            align-items: center;
            color: #fff;
            font-size: 15px;
            font-family: "Fira Code", Arial, Helvetica, sans-serif;
            font-weight: 200;
            font-style: normal;
            text-decoration: none;
            margin-left: 130px;
            text-align: center;
        }

        a::before{
            content: "";
            background-color: #fff;
            width: 10px;
            height: 10px;
            margin-right: 8px;
            }
 
    #button{
            overflow-inline: auto;
            display: inline-block;
            background-color: blue;
            height: 10px;
            line-height: 10px;
            padding-top: 18px;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 15px;
            box-shadow: 1px 1px 3px 3px black;
            transition: transform 250ms linear,  1 ease-in-out;
    }        

    #button:hover {
            transform: scale(1.05);
            opacity: 0.7;
    }
