h1{
    font-family: "Press Start 2P", sans-serif;
    font-size: 40px;
    color: blue;
    text-shadow: 1px 5px 0 #000;    
}

h2{
    font-family:"Press Start 2P", sans-serif ;
    font-size: 20px;
    color: grey;
    text-shadow: 1px 3px 0 #000;    
}