.main-action{
    display: inline-flex;
    align-items: center;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    margin-right: 30px;
    text-decoration: none;
}
.main-action::before{
    content: "";
    background-color: #fff;
    width: 10px;
    height: 10px;
    margin-right: 8px;
    }